@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* 
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} */

.cuerpito {
  letter-spacing: -0.5px;
  place-items: center;
  display: grid;
  
  
}

.count-down-container {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 600px;
  height: 150px;
}

.count-down-box {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  place-items: center;
  text-align: center;
  display: grid;
  height: 100%;
  width: 100%;
}

.count-down-box:nth-child(1) {
  background-color: #b99c36;
}

.count-down-box:nth-child(2) {
  background-color: #deba3d;
}

.count-down-box:nth-child(3) {
  background-color: #c3a027;
}

.count-down-box:nth-child(4) {
  background-color: #c5aa4d;
}

.count-down-box h1 {
  font-size: 60px;
  color: white;
}

.count-down-box p {
  font-size: 13px;
  color: white;
}

.hint-message {
  margin: 15px 0px;
  text-align: center;
  font-size: 14px;
}
